// -----------------------------------------------------
// Fonts
// -----------------------------------------------------
@import url("https://fonts.googleapis.com/css?family=Poppins");

// -----------------------------------------------------
// Fontawesome
// -----------------------------------------------------
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

// -----------------------------------------------------
// Bootstrap
// -----------------------------------------------------
@import "scaffolding/bootstrap";

// -----------------------------------------------------
// Typography
// -----------------------------------------------------
$font-family-sans-serif: "Poppins", sans-serif;
html,
body,
#web-app {
    height: 100%;
}
body {
    font-family: $font-family-sans-serif;
}
